<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
">
    <bean class="pojo.Wish"/>
    <aop:aspectj-autoproxy/>
    <bean id="zhangsanArmet" class="pojo.Equip">
        <property name="name" value="战神头盔"/>
        <property name="type" value="头盔"/>
        <property name="speedPlus" value="2"/>
        <property name="attackPlus" value="4"/>
        <property name="defencePlus" value="6"/>

    </bean>
    <bean id="zhangsanLoricae" class="pojo.Equip">
        <property name="name" value="连环锁子甲"/>
        <property name="type" value="铠甲"/>
        <property name="speedPlus" value="6"/>
        <property name="attackPlus" value="4"/>
        <property name="defencePlus" value="15"/>
    </bean>
    <bean id="zhangsanBoot" class="pojo.Equip">
        <property name="name" value="波斯追风靴"/>
        <property name="type" value="靴子"/>
        <property name="speedPlus" value="8"/>
        <property name="attackPlus" value="2"/>
        <property name="defencePlus" value="3"/>
    </bean>
    <bean id="zhangsanRing" class="pojo.Equip">
        <property name="name" value="蓝魔指环"/>
        <property name="type" value="指环"/>
        <property name="speedPlus" value="8"/>
        <property name="attackPlus" value="12"/>
        <property name="defencePlus" value="2"/>
    </bean>
    <bean id="zhangsan" class="pojo.Player">
        <property name="armet" ref="zhangsanArmet"/>
        <property name="loricae" ref="zhangsanLoricae"/>
        <property name="boot" ref="zhangsanBoot"/>
        <property name="ring" ref="zhangsanRing"/>
    </bean>
</beans>