<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntu.dao.UserMapper">
    <select id="getCount" resultType="int">
        select count(1) from smbms_user;
    </select>
    <resultMap id="UserList" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="userName"></result>
        <association property="role" javaType="role">
            <result property="roleName" column="roleName"></result>
        </association>
    </resultMap>
    <!--复杂数据类型嵌套复杂数据类型-->
    <select id="getAll" resultMap="UserList">
        select  u.*,r.rolename from smbms_user  u inner join smbms_role r on u.userrole=r.id;
    </select>

    <resultMap id="UserList2" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="userName"></result>
        <result property="userPassword" column="userPassword"></result>
        <collection property="add" ofType="address">
            <result property="contact" column="contact" ></result>
            <result property="tel" column="tel" ></result>
        </collection>
    </resultMap>
    <!--复杂数据类型嵌套复杂数据类型集合-->
    <select id="getAll2" resultMap="UserList2">
        SELECT  u.*,a.contact,a.tel FROM smbms_user  u INNER JOIN smbms_address a ON u.id=a.userId;
    </select>
    <delete id="delUser" parameterType="int">
        delete from smbms_user where id=#{id};
    </delete>
    <insert id="addUser" parameterType="User">
        insert into smbms_user (userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate,modifyBy,modifyDate)
        values(#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate})
    </insert>
    <update id="updUser" parameterType="User">
        update smbms_user set
        userCode=#{userCode},
        userName=#{userName},
        userPassword=#{userPassword},
        gender=#{gender},
        birthday=#{birthday},
        phone=#{phone},
        address=#{address},
        userRole=#{userRole},
        modifyBy=#{modifyBy},
        modifyDate=#{modifyDate}
        where id=#{id}
    </update>
    <select id="getLike" parameterType="string" resultType="User">
        select  * from smbms_user where phone like CONCAT('%',#{likestr},'%');
    </select>
    <select id="getLike2" parameterType="User" resultType="User">
        select  * from smbms_user where phone like CONCAT('%',#{phone},'%') and gender=#{gender}
    </select>
    <select id="getLike3" parameterType="Map" resultType="User">
        select  * from smbms_user where phone like CONCAT('%',#{p},'%') and gender=#{g};
    </select>
    <select id="getLike4"  resultType="User">
        select  * from smbms_user where phone like CONCAT('%',#{aaa},'%') and gender=#{bbb};
    </select>

</mapper>